<table class="clients" style="text-align:center;">
	<tr>
		<th>Discount</th>
		<th>Date</th>
		<th>Amount</th>
		<th>Client_id</th>
		<th>PDF</th>
		<th>show pdf</th>
	</tr>

	<% @invoices.each do |invoice| %>
  <tbody>
    <tr>
      <td><%= invoice.discount %></td>
      <td><%= invoice.date %></td>
      <td><%= invoice.amount %></td>
      <td><%= invoice.client_id %></td>
      <td><%#= link_to 'Download', invoice.document,class:"nav-link", download: '' %></td>
      <td>
        <iframe src="<%#= rails_blob_path(invoice.document, disposition: :inline) %>" height="100" width="100"></iframe>
      </td>
    </tr>
  </tbody>
<% end %>
</table>