<h3 style="text-align: center;">Client details</h3>

<%= render 'form', client: @client %> <br>
<%= render 'clients/clients_body' %>

<script type="text/javascript">
		$(document).ready(function(){
		  $(document).on('click', '.del', function(event) {
		  	console.log('inside click-->',$(this).data('id'));
		    $.ajax({
		    	url: '/destroyclient',
		    	type: 'DELETE',
		    	dataType: 'script',
		    	data: {id: $(this).data('id')},
		    })
		    .done(function() {
		    	console.log("success");
		    })
		    .fail(function() {
		    	console.log("error");
		    })
		    .always(function() {
		    	console.log("complete");
		    });
		  });

		  $('.insert').click(function(event) {
		  	$.ajax({
		  		url: '/clients',
		  		type: 'POST',
		  		dataType: 'script',
		  		data :$('form').serialize(),
	 			beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		  	})
		  	.done(function() {
		  		console.log("success");
		  	})
		  	.fail(function() {
		  		console.log("error");
		  	})
		  	.always(function() {
		  		console.log("complete");
		  	});
		  });

		  $('.edit').click(function(event) {
		  	console.log("edit");
		  	$.ajax({
		  		url: '/clients/' + $(this).data('id') + '/edit',
		  		type: 'GET',
		  		dataType: 'script'
		  	})
		  	.done(function() {
		  		console.log("success");
		  	})
		  	.fail(function() {
		  		console.log("error");
		  	})
		  	.always(function() {
		  		console.log("complete");
		  	});
		  });

		  $(document).on('click', '.update', function(event) {
		  	console.log('update');
		  	$.ajax({
		  		url: '/clients/' + $(this).data('id') + '/',
		  		type: 'PATCH',
		  		dataType: 'script',
		  		data :$('form').serialize(),
		  		beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		  	})
		  	.done(function() {
		  		console.log("success");
		  	})
		  	.fail(function() {
		  		console.log("error");
		  	})
		  	.always(function() {
		  		console.log("complete");
		  	});
		  	
		  });
		});
</script>